body { color: #000; }
header span,section {
  --bg-color:#232f19;
}
header {
  width: 100%;
  height: 500px;
  background: url(./images/me-at-piano.png) no-repeat;
  background-size: cover;
}
header span {
  padding: 15px 10px 10px;
  color: #c1cbd0;
  font-weight: 500;
  font-size: 1.2em;
  background-color: var(--bg-color);
  opacity: .9;
}

div {
  --background-one: #756a3e;
  --background-two: #6fa1c7 ;
}

div.row { margin-left: 0!important; margin-right: 0!important}
div.col-md-6 { padding-left: 0 !important; padding-right: 0 !important; }

h1 { margin-bottom:0; padding: 15px 0 10px; letter-spacing: .1em; color: #333; background-color: #c1cbd0; }
section:first-of-type { 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 15px; 
  background:var(--bg-color)
}
div.row:nth-child(even) div.col-md-6:nth-child(even) { background: var(--background-one) }
div.row:nth-child(even) div.col-md-6:nth-child(odd) { background: var(--background-two) }
div.row:nth-child(odd) div.col-md-6:nth-child(even) { background: var(--background-two) }
div.row:nth-child(odd) div.col-md-6:nth-child(odd) { background: var(--background-one)}
div.col-md-6 p { padding: 20px 30px 10px; }
div.col-md-6 p a { color: #000; text-decoration: underline;}
div.col-md-6 div.image-holder { margin: 0 auto; width: 300px; height: 300px; overflow: hidden; }
div.col-md-6 div.image-holder img { width: 100%; height: auto; border: 1px solid #000; }
a.list-group-item.btn.btn-social {border-radius:0;padding: 0; font-size: 2em; background-color: transparent;}

@media (max-width: 767.98px) { 
  header { height: 250px; }
  h1 { font-size: 1.5em;}
  div.row:nth-child(even) div.col-md-6:nth-child(even) { background: var(--background-one) }
  div.row:nth-child(even) div.col-md-6:nth-child(odd) { background: var(--background-two)}
  div.row:nth-child(odd) div.col-md-6:nth-child(even) { background: var(--background-one) }
  div.row:nth-child(odd) div.col-md-6:nth-child(odd) { background: var(--background-two) }
}